
nav {
    font-family: 'Patrick Hand', Verdana;
    display: flex;
    border-bottom: 3px solid black;
    padding: 25px 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.navlinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

nav > img {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.link{
    color: royalblue;
    text-decoration: underline;
}

header {
    font-family: 'Patrick Hand', Verdana;
    background-image: url(../images/musicnotes.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-bottom: 3px solid black;
    text-align: center;
}

header > h1{
    background-color: royalblue;
    font-size: 50px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: black;
    border-bottom: 3px solid black;
}

body{
    min-height: 100vh;
}

.container1 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 100%;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container1 > div {
	background-color:skyblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

img {
    display:grid;
    height: 400px;
    width: 100%;
    padding: 15px;
    margin: 5px;
}

.img1 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img2 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}


.img3 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}


.img4 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img5 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img6 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img7 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img8 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img_artist{
    background-color:lightcyan;
}

.img_concert{
    background-color:skyblue;
}

.top5{
    padding: 15px;
    background-color: lightcyan;
    border-bottom: 10px solid black;
}

.songname{
    background-color: lightcyan;
    font-size: 35px;
    font-style: bold;
}

.artist{
    padding: 15px;
    background-color: lightcyan;
    border-bottom: 10px solid black; 
}

.concert{
    padding: 15px;
    background-color: skyblue;
    font-size: 35px;
    font-style: bold;
    border-bottom: 10px solid black;
}

footer > p{
    font-family: 'Patrick Hand', Verdana;
	font-size: 20px;
    color: white;
}

footer { 
	border-top: 10px solid black;
    border-bottom: 10px solid black;
	display: flex; 
	justify-content: center;  
    background-color: black;
    font-size: 10px;
	margin: 0;
}

.skip a{
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -50px;
	color: black;
    margin: 10px 0;
    text-decoration: none;
    font-family: 'Patrick Hand', 'Verdana';
    font-size: 20px;
}

.skip a:focus{
    position: absolute;
	top: 10px;
}

#container2 div{
    background-color: lightcyan;
}

#container2 p{
    text-align: center;
    font-family: 'Patrick Hand', Verdana; 
}

@media screen and (min-width: 500px){

/*new nav bar format on tablet screen*/
.navlinks {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

header {
    font-family: 'Patrick Hand', Verdana;
    background-image: url(../images/musicnotes.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-bottom: 3px solid black;
    text-align: center;
}

.container1 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container1 > div {
	background-color:skyblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

#container3 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

#container3 div{
    max-height: 600px;
    overflow: scroll;
    font-size: 18px;
}

#container2 {
    display: flex;
    flex-direction: column;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}
      
#container2 div {
    display: flex;
    flex-direction: row;
	background-color: lightcyan;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

#container2 .songname{
    font-family: 'Patrick Hand', Verdana;
    font-style: bold;
    text-align: center;   
    }
    
#container2 .top5{
    font-family: 'Patrick Hand', Verdana;
    font-style: bold;
    text-align: center; 
    font-size: 20px;  
    }

#container2 > div > img.imgcol1{
    max-width: 50%;
    margin: 0;
}
    
#container2 > div > img.imgcol2{
    max-width: 50%;
    margin: 0;
}

#container4 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}
 
#container4 .img1{
    display: grid;
    grid-column:1/3;
    }
    
#container4 .img2{
    display: grid;
    grid-column: 3/5;
    }
    
#container4 .img3{
    display: grid;
    grid-column: 5/7;
    }
    
#container4 .img4{
    display: grid;
    grid-column: 1/7;
    }
    
#container4 .img5{
    display: grid;
    grid-column:1/3;
    }
    
#container4 .img6{
    display: grid;
    grid-column: 3/5;
    }
    
#container4 .img7{
    display: grid;
    grid-column: 5/7;
    }
    
#container4 .img8{
    display: grid;
    grid-column: 1/7;
    }

div .img1{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/4;
    padding-bottom: 0px;
}

div .img2{
    display: grid;
    grid-row: 1/2;
    grid-column: 4/7;
    font-size: 20px;
    
}
    
#introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}

div .img3{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/3;
}

div .img4{
    display: grid;
    grid-row: 2/3;
    grid-column: 3/5;
}

div .img5{
    display: grid;
    grid-row: 2/3;
    grid-column: 5/7;
}

.img2 > p {
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    font-family: 'Patrick Hand', Verdana;
    display:grid;
    grid-column: 1/7;
   }

   .flier {
    display:inline;
    pointer-events: none;
}

.flier > * {
    animation: dance 50s linear infinite;
    max-height: 200px;
    max-width: 200px;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

@keyframes dance {

    98.001%, 0% {
                display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%, 43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%, 68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}

}

@media screen and (min-width: 900px){

    #container4 {
        display: grid;
        align-items: stretch;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        justify-content: stretch;
        background-color: white;
        padding: 10px;
        font-size: 30px;
    }
     
    #container4 .img1{
        display: grid;
        grid-column:1/3;
        }
        
    #container4 .img2{
        display: grid;
        grid-column: 3/5;
        }
        
    #container4 .img3{
        display: grid;
        grid-column: 5/7;
        }
        
    #container4 .img4{
        display: grid;
        grid-column: 1/7;
        }
        
    #container4 .img5{
        display: grid;
        grid-column:1/3;
        }
        
    #container4 .img6{
        display: grid;
        grid-column: 3/5;
        }
        
    #container4 .img7{
        display: grid;
        grid-column: 5/7;
        }
        
    #container4 .img8{
        display: grid;
        grid-column: 1/7;
        }

    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 1px solid #f1f1f1;
        perspective: 1000px; 
      }
      
      /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner, 
    .flip-card:focus-within .flip-card-inner,
    .flip-card:active .flip-card-inner
    .flip-card:focus .flip-card-inner{
	    transform: rotateY(180deg);
    } 
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: lightcyan;
        color: white;
        transform: rotateY(180deg);
      }
}

